<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="userDao" class="cn.forbearance.springframework.test.UserDao"/>
    <bean id="userService" class="cn.forbearance.springframework.test.UserService"/>
    <bean id="userService2" class="cn.forbearance.springframework.test.UserService2"/>

    <bean class="cn.forbearance.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="cn.forbearance.springframework.test.UserServiceBeforeAdvice"/>
    <bean id="beforeAdvice2" class="cn.forbearance.springframework.test.UserServiceBeforeAdvice2"/>

    <bean id="methodInterceptor" class="cn.forbearance.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="cn.forbearance.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* cn.forbearance.springframework.test.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>
</beans>